.Layout {
  position: relative;

  
  width: 300px;
  height: calc(135px + 370px + 64px);

  display: grid;
  grid-template-rows: minmax(135px, 200px) 370px 64px;

  color: #333;
  background-color: #fff;

  
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}
.middle {
  background-color: #333;
  opacity: 0.5;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);

}



.bottom {
  grid-row: 3 / 4;

  display: flex;
  justify-content: center;
  align-items: center;
}

