.Layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to left, #efefbb, #d4d3dd);

  @media (max-width: 400px) {
    background: none;
  }
}

.container {
  position: relative;

  width: 300px;
  height: calc(135px + 370px + 64px);

  display: grid;
  grid-template-rows: minmax(135px, 200px) 370px 64px;

  color: #333;
  background-color: #fafafa;
  box-shadow: 15px 15px 40px -8px rgba(0,0,0,0.75);

  @media (max-width: 400px) {
    width: 100%;
    height: 100%;
  }
}
.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
}
.middle {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  padding: 20px 0;
  z-index: 100;

  @media (max-width: 400px) {
    padding: 0;
    background: rgb(88,91,110);
    background: linear-gradient(175deg, rgba(88,91,110,0.9251050762101716) 0%, rgba(21,21,23,1) 100%);
  }
  
  // Middle panel effect
  &::after {
    content: " ";
    width: 100%;
    height: 100%;
    transform: translate(-20px, 0);
    padding: 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    // Slightly different (lighter) colors
    // background: rgb(88,91,110);
    // background: linear-gradient(175deg, rgba(88,91,110,0.9251050762101716) 0%, rgba(37,39,45,1) 100%);
    
    // Background color and opacity
    background: rgb(88,91,110);
    background: linear-gradient(175deg, rgba(88,91,110,0.9251050762101716) 0%, rgba(21,21,23,1) 100%);
    opacity: .95;

    box-shadow: 15px 15px 40px -8px rgba(0,0,0,0.75);

    @media (max-width: 400px) {
      display: none;
    }
  }
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

