* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #666;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}













